*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    font-family: Poppins, sans-serif;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #8e8e8e;
    border-radius: 20px;
}

::-webkit-scrollbar-track{
    background-color: #fff;
    border-radius: 20px;
}

nav{
    display: flex;
    background-color: #fff;
    font-size: 1.7rem;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    padding: 25px 40px 25px 50px;
}

nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav ul a{
    color: #2d2e32;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.logo{
    color: #2d2e32;
    cursor: pointer;
}

@media (max-width: 900px){
    nav ul{
        display: none;
    }
}

.hero{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}

.container{
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.content{
    display: flex;
    gap: 10rem;
    height: 65rem;
    position: relative;
    justify-content: center;
    align-items: center;
}

.hero-main{
    position: relative;
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
}

.hero-text{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
}

.hero-text h1{
    color: #2d2e32;
    font-size: 5.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: bold;
}

.hero-text img{
    height: 6rem;
    position: absolute;
    right: 13rem;
    top: 8.7rem;
    width: 6rem;
}

.hero-text p{
    color: #555;
    font-family: Mulish, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
}

h1{
    display: block;
    font-weight: bold;
}

.hero-img{
    background-image: url(./images/profile_pic.jpeg);
    width: 35rem;
    height: 35rem;
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
    border: 3px solid #2d2e32;
    animation: morph 6s ease-in-out infinite;
}

@keyframes morph{
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

@media (max-width: 900px){
    .hero{
        height: auto;
        padding: 11rem 0;
    }
    .content{
        flex-direction: column;
        gap: 3rem;
        height: auto;
        text-align: center;
    }
    .hero-main{
        flex-direction: column-reverse;
        gap: 3rem;
        height: auto;
        text-align: center;
    }
    .hero-text img{
        right: 3rem;
    }
}

@media (max-width: 460px){
    .container{
        padding: 0 1.7rem;
    }
}

@media (max-width: 500px){
    .hero-text h1{
        font-size: 4rem;
    }
    .hero-text img{
        height: 4.5rem;
        right: 4rem;
        top: 6.4rem;
        width: 4.5rem;
    }
}

@media (max-width: 375px){
    .hero-text img{
        right: 1.7rem;
    }
}

@media (max-width: 380px) {
    .hero-text img{
        right: 3 rem;
    } 
}

.skills{
    display: flex;
    font-size: 1.7rem;
    left: 0;
    position: absolute;
    align-items: center;
    bottom: 0;
    color: #767676;
}

.skills p{
    border-right: 2px solid rgba(45, 46, 50, .5);
    color: #2d2e32;
    font-family: Mulish, sans-serif;
    font-weight: 600;
    margin-right: 7rem;
    padding-right: 2rem;
}

.skills ul{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;
}

.skills ul li img{
    height: 5rem;
    width: 11rem;
    transition: all .3s ease-in-out;
}

.skills ul li{
    cursor: pointer;
}

@media (max-width: 900px){
    .skills{
        flex-direction: column;
        position: static;
    }

    .skills p{
        border-bottom: 2px solid rgba(45, 46, 50, .5);
        border-right: none;
        margin-bottom: 3rem;
        margin-right: 0;
        padding-bottom: 1rem;
        padding-right: 0;
    }

    .skills ul{
        justify-content: center;
    }
}

.about{
    background-color: #fff;
    padding: 15rem 0;
}

@media (max-width: 1200px){
    .about{
        padding: 8rem 0;
    }
}

.about-content{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1020px){
    .about-content{
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.img-side{
    position: relative;
}

.work-emoji{
    position: absolute;
    width: 6rem !important;
    z-index: 10;
    right: 98px;
    bottom: 35px;
}

.main-img{
    border-radius: 1.7rem;
    height: 35rem;
    width: 41rem;
}


@media (max-width: 460px){
    .main-img{
       height: auto;
       width: 90%;
    }
}

.img-side span{
    background-color: #fff;
    border-radius: 50%;
    bottom: -33px;
    height: 19rem;
    position: absolute;
    right: 33px;
    width: 19rem;
}

@media (max-width: 750px){
    .work-emoji{
        display: none;
    }
    .img-side span{
        display: none;
    }
}



@media (max-width: 1020px){
    .work-emoji{
        bottom: 25px;
        right: 245px;
    }

    .img-side span{
        bottom: -3px;
        height: 17rem;
        right: 190px;
        width: 17rem;
    }
}

@media (max-width: 880px){
    .work-emoji{
        bottom: 57px;
        right: 156px;
    }

    .img-side span{
        bottom: -3px;
        right: 100px;
    }
}





.img-side span img{
    animation: rotate 9s linear infinite;
    width: 19rem;
}

@media (max-width: 1020px){
    .main-img{
       margin-bottom: 3.5rem;
    }
    .img-side span img{
        width: 17rem;
    }
}

@keyframes rotate{
    100%{
        transform: rotate(1turn);
    }
}

.text-side{
    padding-right: 1.5rem;
}

@media (max-width: 1020px){
    .text-side{
        margin: 0 auto;
        max-width: 54rem;
    }
}

.text-side h3{
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.text-side h4{
    color: #2d2e32;
    font-family: Poppins, sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.text-side p{
    color: #767676;
    font-family: Mulish, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
}

.projects{
    background-color: #f9f9f9;
    padding: 15rem 0;
}

@media (max-width: 1020px){
    .projects{
        padding: 8rem 0;
    }
}

.new-projects{
    color: #2d2e32;
    font-size: 2.6rem;
    text-align: center;
}

.contact{
    background-color: #f9f9f9;
    padding: 11rem 0;
}

@media (max-width: 1020px){
    .contact{
        padding: 8rem 0;
    }
}

.contact-content{
    display: flex;
    flex-direction: column;
}

@media (max-width: 750px){
    .con-title{
        text-align: center;
    }
}

.con-title p{
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.con-title h3{
    color: #2d2e32;
    font-size: 2.5rem;
}

.con-icons{
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 6rem;
}

@media (max-width: 750px){
    .con-icons{
        flex-direction: column;
        gap: 5rem;
        justify-content: center;
        text-align: center;
    }
}

.con_icon-box{
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

@media (max-width: 750px){
    .con_icon-box{
        flex-direction: column;
    }
}

.con_icon-box span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    color: #147efb;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.con-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.con-info h3{
    color: #2d2e32;
    font-size: 1.7rem;
}

.con-info a, .con-info p{
    color: #767676;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
}

footer{
    background-color: #2d2e32;
    padding: 5rem 0;
    width: 100%;
}

.footerc{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 550px){
    .footerc{
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        text-align: center;
    }
}

footer h3{
    color: #fff;
    font-size: 1.7rem;
}

.footerc_socials{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.footerc_socials a{
    color: #fff;
    font-size: 2.3rem;
}

